*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  // position: relative;
  max-width: 1440px;
  // height: 2951px;
  background: #F2F2F2;
  
}

ul {
  list-style: none;
}

li{
  list-style: none;
}

nav{
  background: #FFFFFF;
  display: flex;
  height: 60px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  ul{
    display: flex;
    justify-content: space-around;
    width: 412px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
  }
}

.svgs{
  flex-grow: 1;
  display: flex;
  background: yellowgreen;
  position: relative;

  .o{
    position: absolute;
    top: -30px;
    width: 29.58px;
    height: 31px;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    color: #ee470a;
  }

  .xx{
    position: absolute;
    left: 32px;
    top: -30px;
    width: 29.58px;
    height: 31px;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    color: #ee470a;
  }

  .yy{
    width: 29.58px;
    height: 31px;
    position: absolute;
    left: 50px;
    top: -26px;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    color: #ee470a;
  }
}

.first-div{
  margin-top: 35px;

  .header-name{
    font-style: normal;
    font-weight: 800;
    font-size: 68px;
    line-height: 105.3%;
    color: #000000;
    width: 791px;
    height: 144px;
    margin-bottom: 20px;
  }

  .header-text{
    width: 726px;
    height: 136px;
    margin-bottom: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    color: #727274;
  }
}

.icon{
  margin-top: 10px;
  margin-bottom: 10px;
}

.social-link{
  display: flex;
  margin-bottom: 80px;

  ul{
    display: flex;
    width: 120px;
    justify-content: space-around;
  }

  p{
    width: 300px;
    height: 34px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #727274;
  }
}

.header-2{
  margin-bottom: 50px;

  h3{
    width: 300px;
    height: 38px;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 105.3%;
    color: #000000;
  }
}

.ab1{
  position: relative;
  width: 620px;
  height: 363px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 98.35%), url(ssets/oxfordiho.png);
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  .ab-1{
    position: absolute;
    width: 121px;
    height: 54px;
    left: 30px;
    top: 15px;
  
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
  
    color: #FFFFFF;
  }
}

.bc1{
  position: relative;
  width: 407px;
  height: 349px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 98.35%), url(ssets/oxfordiho.png);
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  .ab-2{
    position: absolute;
    width: 121px;
    height: 54px;
    left: 30px;
    top: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 54px;
    color: #FFFFFF;
  }
}

.tools{
  display: flex;
  justify-content: space-around;
  width: 250px;
  position: absolute;
  height: 21px;
  left: 32px;
  top: 72px;

  .html{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background: rgb(54, 51, 51);
  }
}

.project{
  position: absolute;
  width: 225px;
  height: 59px;
  left: 71px;
  top: 270px;
  background: #F9855B;

  p{
    position: absolute;
    left: 22px;
    top: 22px;
    width: 182px;
    height: 19px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 105.3%;
    text-align: center;
    color: #FFFFFF;
  }
}


.tool{
  display: flex;
  justify-content: space-around;
  width: 250px;
  position: absolute;
  height: 21px;
  left: 32px;
  top: 72px;

  .htm{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    background: rgb(54, 51, 51);
  }
}

.project-1{
  position: absolute;
  width: 225px;
  height: 59px;
  left: 30px;
  top: 270px;
  background: #F9855B;

  p{
    position: absolute;
    left: 22px;
    top: 22px;
    width: 182px;
    height: 19px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 105.3%;
    text-align: center;
    color: #FFFFFF;
  }
}

.section-2{
  display: flex;
  justify-content: space-between;
}

.article-1{
  position: relative;
}

.article-h{
  position: absolute;
  left: -5px;
  top: 80px;
  width: 300px;
  height: 38px;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 105.3%;
  color: #000000;
}

.article-b{
  position: absolute;
  top: 150px;
  width: 422px;
  height: 111px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #727274;
}

.resume{
    position: absolute;
  
    top: 300px;
    width: 225px;
    height: 59px;
    background: #F9855B;

  p{
    position: absolute;
    left: 22px;
    top: 22px;
    width: 182px;
    height: 19px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 105.3%;
    text-align: center;
    color: #FFFFFF;
  }
}

.aside-1{
  position: relative;
  margin-top: 79px;
  width: 500px;
}

.ah2{
  width: 113px;
  height: 21px;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 105.3%;
  margin-bottom: 19px;
  color: #000000;
}

.as1{
  width: 500px;
  height: 100px;
  border-bottom: 1px solid #CFD2DA;

  ul{
    display: flex;
    margin-top: 15px;
    
    li{
      margin-right: 15px;
    }
  }
}

.as3{
  width: 500px;
  height: 100px;

  ul{
    display: flex;
    margin-top: 15px;
    
    li{
      margin-right: 15px;
    }
  }
}

.ah22{
  margin-top: 25px;
}

.li-1{
  margin-left: -31px;
}

footer{
  position: absolute;
  width: 1350px;
  height: 864px;
  margin-top: 100px;

  background: #F9855B;
}

.fo-header{
  width: 646px;
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
  font-style: normal;
  font-weight: 800;
  font-size: 38px;
  line-height: 105.3%;

  color: #FFFFFF;
}

.fo-p{
  width: 690px;
  height: 84px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

form{
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;

  .span-1{
    display: flex;
    justify-content: center;

    .input-1{
      width: 332px;
      height: 59px;
      margin-right: 5px;
      background: #FFFFFF;
      border: 1px solid #000000;
      box-sizing: border-box;
    }

    .input-11{
      width: 332px;
      height: 59px;
      margin-left: 4px;
      background: #FFFFFF;
      border: 1px solid #000000;
      box-sizing: border-box;
    }
  }
}

.span-2{
  display: flex;
  flex-direction: column;
  justify-content: center;

  input{
    width: 672px;
    height: 59px;
    align-self: center;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 30px;
    background: #000000;
    border: 1px solid #000000;
    box-sizing: border-box;
  }
}

.textarea-1{
  width: 672px;
  height: 185px;
  align-self: center;
  margin-top: 20px;
  background: #FFFFFF;
}

.fo-tag{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.email{
  width: 260px;
  height: 34px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  margin-right: 15px;
  color: #FFDACC;
}

.fo-svg{
  display: flex;

  li{
    margin-right: 6px;
  }
}

.final{
  width: 194px;
  height: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  color: #FFDACC;
}
